@media (max-width: 600px) {
  .ticket-generation-form {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1250px) {
  .ticket-generation-form {
    width: 50%;
  }
}
@media (min-width: 1251px) {
  .ticket-generation-form {
    width: 40%;
  }
}

#form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-dropzone {
  background-color: hsla(245, 19%, 35%, 0.25);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed hsla(252, 6%, 83%, 0.8) 1px;
}
#uploaded-image {
  display: none;
  max-height: 300px;
  max-width: 95vw;
  object-fit: contain;
}

.ticket-generation-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-input {
  all: unset;
  background-color: hsla(245, 19%, 35%, 0.2);
  border: solid hsla(252, 6%, 83%, 0.8) 1px;
  border-radius: 10px;
  padding: 0.5rem;
}

.generate-ticket-button {
  all: unset;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 800;
  font-size: medium;
  color: hsl(248, 70%, 10%);
  background-color: hsl(7, 88%, 67%);
}

.github-user-div {
  display: flex;
  align-items: center;
}
#github-user {
  border-radius: 0 10px 10px 0;
}

.github-user-div .form-input {
  width: 100%;
}

.at-symbol {
  font-size: 16px;
  font-weight: bold;
  border: solid hsla(252, 6%, 83%, 0.8) 1px;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding: 0.5rem;
  background-color: hsl(245, 19%, 35%, 0.6);
}

.error-text {
  font-size: smaller;
  color: hsl(7, 71%, 60%);
}
